<div class="page-header">
  <h3>Question #4: Which actor has been in the most movies on the list?</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">Answer: <%= @actor_with_the_most_movies %></p>
  </div>
</div>
