<div class="page-header">
  <h3>Question #1: How many movies are in the database?</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">Answer: <%= @number_of_movies %></p>
  </div>
</div>
