<div class="page-header">
  <h3>Question #1: What is the most recent movie on the list that the second actor appeared in?</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">Answer: <%= @most_recent_movie_for_second_actor %></p>
  </div>
</div>
