<div class="page-header">
  <h3>Question #3: How many movies does the director of the first movie have on the list?</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">Answer: <%= @number_of_movies_directed_by_first_movie_director %></p>
  </div>
</div>
